.ml-panel-tree1 {
    margin: 0;
    border: 4px solid #eee;
    border-radius: 4px;
    background-color: white;
    max-height: inherit;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    min-width: 240px;
}

.ml-panel-tree1 ul {
    list-style: none;
    margin: 1.6em 0.4em;
    padding-left: 0;
}

.ml-panel-tree1 li {
    position: relative;
    margin-top: 0.3em;
    margin-top: 0px;
    font-size: 1em;
}

.ml-basemap-group label {
    padding-left: 1.2em;
    font-size: small;
}

.ml-basemap-group ul {
    padding-left: 1.2em;
    margin: 0.1em 0 0 0;
}

.ml-basemap-group li {
    position: relative;
    margin-top: 0.3em;
}

.ml-basemap-group li input {
    position: absolute;
    left: 1.2em;
    height: 1em;
    width: 1em;
    font-size: 1em;
    margin: 0px;
    margin-top: 0.35em;
}

.ml-basemap-group li label {
    padding-left: 2.7em;
    padding-right: 1.2em;
    display: inline-block;
    margin-top: 1px;
    font-size: small;
}

.ml-overlay-group li {
    position: relative;
    margin-top: 0.3em;
}

.ml-overlay-group button {
    position: absolute;
    left: 0;
    display: inline-block;
    vertical-align: top;
    float: none;
    font-size: 1em;
    width: 1em;
    height: 1em;
    margin: 0;
    background-position: center 2px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAW0lEQVR4nGNgGAWMyBwXFxcGBgaGeii3EU0tXHzPnj1wQRYsihqQ+I0ExDEMQAYNONgoAN0AmMkNaDSyQSheY8JiaCMOGzE04zIAmyFYNTMw4A+DRhzsUUBtAADw4BCeIZkGdwAAAABJRU5ErkJggg==');
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    background-color: white;
    color: black;
    border: none;
}

.ml-overlay-group input {
    position: absolute;
    left: 1.2em;
    height: 1em;
    width: 1em;
    font-size: 1em;
    margin: 0px;
}

.ml-overlay-group label {
    padding-left: 2.7em;
    padding-right: 1.2em;
    display: inline-block;
    margin-top: 1px;
    font-size: small;
}

.ml-overlay-group ul {
    padding-left: 1.2em;
    margin: 0.1em 0 0 0;
}

.ml-overlay-group-label {
    font-weight: bold;
}

.ml-overlay-layer, .ml-basemap-layer {
    font-weight: unset;
}

.ml-menu-button-close {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.ml-menu-close>ul {
    height: 0px;
    overflow: hidden;
}